<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Service</title>
</head>
    <body>
        <h1>Rental Service</h1>
        <p>Welcome to Group 90 Rental Services!</p>
        <a href='/hosts'><button>Hosts</button></a>
        <a href='/clients'><button>Clients</button></a>
        <a href='/buildings'><button>Buildings</button></a>
        <a href='/transactions'><button>Transactions</button></a>
        <a href='/rental_histories'><button>Rental History</button></a>
        <a href='/reviews'><button>Reviews</button></a>
    </body>
</html>